<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fruit_ninja.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fruit_ninja.Properties.Settings>
            <setting name="PlayerScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UnlockedSkins" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedSkin" serializeAs="String">
                <value>Classic</value>
            </setting>
            <setting name="UnlockedBlades" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedBlade" serializeAs="String">
                <value>Classic</value>
            </setting>
        </Fruit_ninja.Properties.Settings>
    </userSettings>
</configuration>